body{
    margin: 0;
    padding: 0;
}
main{
/* background-color: aqua; */
display: flex;
justify-content: center;
}
form{
/* background-color: aquamarine; */
width: 30%;
padding: 0px 40px 20px 40px;
box-sizing: border-box;
border: 2px solid rgb(179, 179, 172);
margin-top: 20px;
}
img,input,a,button{
    display: block;
}

img{
    margin: auto;
    width: 60%;
    height: 150px;
}
input{
    width: 100%;
    height: 25px;
    margin-top: 5.5px;
    padding-left: 10px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 2px solid rgb(223, 222, 222);
}
button{
width: 100%;
height: 30px;
border-radius: 6px;
color: aliceblue;
background-color: rgb(126, 126, 236);
margin-top: 18px;
margin-bottom: 35px;
border: none;

}
a{
text-align: center;
margin-top: 15px;
text-decoration: none;

}
h4{
    position: absolute;
    top: -100%;
    left: 46%;
    background-color:white ;
    padding: 0px 10px;
}
#OR-contenar{
    position: relative;
    height: 30px;
}